$bp-largest: 75em; //1200px
$bp-large: 69em; //1100px
$bp-medium: 64em; //1024px
$bp-medium-tab: 52.5em; //834px
$bp-mobile-landscape: 48em; //768px
$bp-small: 37.5em; //600px
$bp-smaller: 30em; //480px
$bp-smallest: 24.44em; //375px
